
@import url("less_mixins.less");

@primary-color: #000;
@secundary-color: #ccc;

.circle {
    position: relative;
    border-radius: 50%;

    &::after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }
}

.circle--bordered {
    &:extend(.circle all);
    background: white;
    border: 1px solid @primary-color;

    &:hover {
        background: @secundary-color;
    }
}

.ascend {
    .translate(0, -100%);
}

.in-view {
    .translate(0, 0);
}

.descend {
    .translate(0, 100%);
}

.fill {
    .position(absolute, 0, 0, 0, 0);
    transition: transform 1s ease-in-out;
}

.page-wrapper {
    overflow: hidden;

    &--scroll {
        overflow: initial;
    }

    .nav {
        &:extend(.fill);
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        perspective: 500px;

        &__container {
            &:extend(.circle all);
            width: 20%;
            transition: transform .7s ease-in-out;
            
            &--center {

                &--about { .translate3d(0, 0, 300px); }
                &--school { .translate3d(45%, 45%, 400px); }
                &--work { .translate3d(62%, 0%, 400px); }
                &--contact { .translate3d(44%, -45%, 400px); }

                .nav-circle {
            
                    &__inner-nav-circle {
                        pointer-events: none !important;
                        border-color: transparent;
                    }
                }
            }

            .nav-circle {
                &:extend(.circle all);
                position: absolute;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                pointer-events: none;

                &.about > section { width: 100%; }
                &.school { .translate(-45%, -45%); }
                &.work { .translate(-62%, 0); }
                &.contact { .translate(-45%, 45%); }

                &__inner-nav-circle {
                    &:extend(.circle--bordered all);
                    width: 40%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    pointer-events: initial;
                    cursor: pointer;
                    transition: border-color .7s ease-in-out;

                    &__icon {
                        width: 40%;
                        backface-visibility: hidden;
                        transition: opacity .7s ease-in-out;

                        &--vanish {
                            opacity: 0;
                        }
                    }  
                }
            }
        }
    }

    .content {
        &:extend(.fill);

        &__block {
            display: none;
            opacity: 0; 
            transition: opacity 1s ease-in-out;

            &--active {
                opacity: 1;
            }

            &--added {
                display: block;
            }
        }
    }
}